<!--The content below is only a placeholder and can be replaced.-->
<div style="width: 600px; margin: 0 auto;">
    <div style="text-align: center;">
    <h1>
      Bienvenido a {{title}}!
    </h1>  
  </div>
<h2>Primer listado</h2>
<app-lista></app-lista>
<br />
<br />

<div class="card mb3">
    <h2 class="card-header">Filtros</h2>
    <div class="card-body">
        <app-pipes></app-pipes>
        
    </div>
  </div>

<div class="card mb3">
  <h2 class="card-header">Formulario</h2>
  <div class="card-body">
      <app-formulario></app-formulario>
  </div>
</div>

<div class="card mb3">
  <h2 class="card-header">Formulario Reactivo</h2>
  <div class="card-body">
      <app-form-reactive></app-form-reactive>
  </div>
</div>

</div>

